<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>To do List</title>
</head>
<body>
    <h1> <%= kindofday %> </h1>
    <ul>
        <li>Buy food</li>
        <li>Cook food</li>
        <li>eat food</li>
       <% for( i=0;i < newListItems.length;i++){ %>
        <li> <%= newListItems[i] %></li> 
       <% } %>
        
        <form action="/" method="post">
            <input type="text" name="newItem" >
            <button type="submit">Add</button>
        </form>
    </ul>
</body>
</html>